<h2><%= @task.title %></h2>

<p><%= @task.details%></p>
<input type="checkbox" id="task" name="task"
<%= "checked" if @task.completed%>>
<label for="task"><%= @message %></label>
<%= link_to "Edit this task", edit_task_path(@task) %>
<%= link_to "Back to tasks", tasks_path %>
